.help__mailto {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.help__mailto:hover {
  color: #fc691b;
}

@media (max-width: 767px) {
  .help__mailto {
    display: block;
    width: fit-content;
    margin-top: 27px;
  }
}
