.help__paragraph {
  max-width: 812px;
  text-align: center;
}

.help__paragraph:nth-child(2) {
  margin-bottom: 0;
}

@media (max-width: 1239px) {
  .help__paragraph {
    max-width: 608px;
  }
}

@media (max-width: 767px) {
  .help__paragraph {
    padding: 0 20px;
  }
  .help__paragraph:nth-child(1) {
    text-align: left;
  }
  .help__paragraph:nth-child(2) {
    text-align: center;
  }
}
