.help__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 80px 0 100px 0;*/
  margin-top: 160px;
  margin-bottom: 100px;
}


@media (max-width: 1239px) {
  .help__inner {
    align-items: center;
    margin-top: 106px;
    margin-bottom: 100px;
  }
}

@media (max-width: 660px) {
  .help__inner {
    margin-left: 1em;
    margin-right: 1em;
  }
}