.help__image-link {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: #5a3f98;
  transition: all 0.3s ease-in-out;
}

.help__image-link:hover {
  fill: #fc691b;
}

.help__image-link:active {
  transform: scale(0.8);
}
