.header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.9);
}

.header_sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header_no-sticky {
    position: absolute;
}

@media screen and (max-width: 768px) {
	.header_name-fond-desc {
		display: none;
	}
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (max-width: 360px) {
    .header {
        padding-left: 1em;
        padding-right: 1em;
    }
}