.header__share {
    margin-right: 3.25em;
    position: relative;
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
    .header__share {
        margin-right: calc((100vw - 48em)/(77.5 - 48) * (3.25 - 2.75) + 2.75em);
    }
}

@media screen and (max-width: 768px) {
    .header__share {
        margin-right: 2.75em;
    }
}

@media screen and (max-width: 650px) {
    .header__share {
        display: none;
    }
}
