.header__logo {
    margin-right: 3em;
}

@media screen and (max-width: 1240px) and (min-width: 768px) {
    .header__share {
        margin-right: calc((100vw - 48em)/(77.5 - 48) * (3 - 2.5) + 2.5em);
    }
}

@media screen and (max-width: 768px) {
    .header__share {
        margin-right: 2.5em;
    }
}