.button-pay {
  border: none;
  width: 49%;
  height: 44px;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media (max-width: 470px) {
  .button-pay {
    width: 100%;
  }

  .button-pay:nth-of-type(1) {
    margin-bottom: 22px;
  }
}
