.payment__button-pay-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (max-width: 470px) {
    .payment__button-pay-container {
        flex-direction: column;
    }
}