.payment__group {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  width: 49%;
}

.payment__group:last-of-type {
  margin-right: 0;
  width: 49%;
}

@media (max-width: 470px) {
  .payment__group {
    width: 100%;
  }

  .payment__group:last-of-type {
    margin-top: 28px;
    margin-right: 0;
    width: 100%;
  }
}
