.payment__agree {
  visibility: hidden;
  display: none;
}

.payment__agree + .payment__agreement-text:before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 14px;
  margin: 0 8px 0 0;
  padding: 0;
  vertical-align: top;
  width: 14px;
  border-radius: 3px;
}
.payment__agree:checked + .payment__agreement-text:before {
  background: #fff;
  color: #333;
  content: "\2713";
  text-align: center;
}
.payment__agree:checked + .payment__agreement-text:after {
  font-weight: bold;
}

.payment__agree:focus + .payment__agreement-text::before {
  outline: rgb(59, 153, 252) auto 5px;
}
