.payment__sum-any {
  /* height: 44px; */
  width: 100%;
  max-width: 224px;
  border: 2px solid #9397cb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
}

.payment__sum-any .payment__sum-any_activ {
  border: 2px solid #fc691b;
}

@media (max-width: 767px) {
  .payment__sum-any {
    max-width: 100%;
    margin-top: 14px;
  }
}

@media (max-width: 470px) {
  .payment__sum-any {
    max-width: 220px;
    margin-top: 14px;
  }
}

@media (max-width: 367px) {
  .payment__sum-any {
    max-width: 100%;
  }
}