.payment__input-any-sum {
  width: inherit;
  /* height: 16px; */
  margin-right: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid #9397cb;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.payment__input-any-sum::placeholder {
  color: #969696;
}

