.payment__type {
  margin-right: 2.2em;
  cursor: pointer;
  padding-bottom: .6em;
  color: #9397CB;
}

.payment__type:last-child {
  margin-right: 0;
}

/* Checked */
.payment__method:checked + .payment__type {
  color: #5A3F98;
  border-bottom: 8px solid #5a3f98;
}
 
/* Hover */
.payment__type:hover {
	color: #FC691B;
}

@media (max-width: 767px) {
  .payment__type {
    margin-right: 33px;
  }
}