.payment__form {
  max-width: 704px;
  margin-bottom: 60px;
}

@media (max-width: 1239px) {
  .payment__form {
  }
}

@media (max-width: 767px) {
  .payment__form {
    padding: 0 16px;
    margin-bottom: 34px;
  }
}
