.payment__agree {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

  /* On mouse-over, add a grey background color */
.payment__agree:hover ~ .payment__checkmark {
  /* border-color: rgba(50, 49, 53, 1); */
}
  
  /* When the checkbox is checked, add a blue background */
.payment__agree:checked ~ .payment__checkmark {
  /* border-color: rgba(50, 49, 53, 1); */
}