.goal__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 160px 0;
}

.goal__about:last-child {
  margin: 0 0 180px 0;
}

@media (max-width: 1239px) {
  .goal__about {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .goal__about {
    margin: 0 0 100px 0;
  }
}
