.goal__image {
    max-width: 514px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1239px) {
    .goal__image {
        margin-bottom: 30px;
        order: 1;
    }
}


@media (max-width: 768px) {
    .goal__image {
        max-width: 100%;
    }
}