.goal__container {
  max-width: 604px;
}

@media (max-width: 1239px) {
  .goal__container {
    max-width: 500px;
    order: 3;
  }
}

@media (max-width: 1239px) {
  .goal__container {
    padding: 0 20px;
  }
}
