.slideshow__arrow {
  cursor: pointer;
  width: auto;
  transition: 0.6s ease;
  user-select: none;
}

.slideshow__arrow:hover {
  transform: scale(1.2);
}

.slideshow__arrow:active {
  transform: scale(1);
}

.slideshow__arrow:nth-of-type(1) {
  margin-right: 30px;
}

.slideshow__arrow:nth-of-type(2) {
  margin-left: 30px;
}
