.slideshow__container {
  max-width: 399px;
}

@media (max-width: 1239px) {
  .slideshow__container {
    max-width: 500px;
  }
}

@media (max-width: 1239px) {
  .slideshow__container {
    padding: 20px;
  }
}
