.coach__inner {
    /*padding: 80px 0;*/
    margin-top: 120px;
    margin-bottom: 0;
}

@media (max-width: 1239px) {
    .coach__inner {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .coach__inner {
        margin-top: 100px;
    }
}