.lead__button {
  width: 184px;
  height: 56px;
  border: 1px solid white;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  color: white;
  position: absolute;
  left: 48px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lead__button:hover {
  background: white;
  color: #5a3f98;
}

@media (max-width: 767px) {
  .lead__button {
   left: 30px;
  }
}

@media (max-width: 470px) {
  .lead__button {
    left: 25px;
    bottom: 32px;
  }
}