.lead__container {
  max-width: 272px;
}

@media (max-width: 1239px) {
  .lead__container {
    order: 2;
    max-width: 582px;
    padding: 56px;
    background-color: #b0eddb;
    margin-top: 40px;
  }
}


@media (max-width: 767px) {
  .lead__container {
    padding: 32px 25px;
    margin-top: 0;
  }
}