html {
  scroll-behavior: smooth;
}

html *,
html *:after,
html *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  /*display: block;*/
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  border: 0;
}

.app {
  background-color: #fff;
  font: normal 16px/1.5 Helvetica, sans-serif;
  box-sizing: border-box;
}

.active {
  background-color: #5a3f98;
}

.inactive {
  background-color: white;
  border: 2px solid #9397cb;
}

.theme-orange {
  color: #fc691b;
}
